<h3>Confirm bank data</h3>

<p>The system will attempt to auto-detect which members the payments are from. Please go through the list and make sure all payments are matched to the correct member. If the payment is not a member payment, simple choose the "ignore" option. Don't worry about uploading the same payment twice. The system checks for payments of the same size, on the same date and having the same comment, and removes duplicates automatically. This assumes that no-one ever creates two completely identical payments on the same day.</p>


<%= form_tag :action => "save_bankdata" do %>

  <% if @payments.length == 0 %>

    <p>No payments detected</p>

  <% else %>

    <table cellspacing='5' cellpadding='3' border='0'>
      <tr>
        <td>Date</td>
        <td>Amount</td>
        <td>Comment</td>
        <td>From</td>
      </tr>

      <% i = 0 %>
      <% @payments.each do |payment| %>
      
        <tr>
          <td><%= payment.received %><%= hidden_field_tag "payment[#{i}][received]", payment.received %></td>
          <td><%= payment.amount %><%= hidden_field_tag "payment[#{i}][amount]", payment.amount %></td>
          <td><%= h payment.comment %><%= hidden_field_tag "payment[#{i}][comment]", payment.comment %></td>
          <td><%= payment_user_list(@users, payment.user_id, i) %></td>
        </tr>
  
        <% i += 1 %>
      <% end %>
    </table>

    <%= submit_tag "Approve!" %>

  <% end %>
<% end %>