<h3>Change password</h3>

<p style='color:red'><%= flash[:notice] %></p>

<p>Please choose a new password.</p>

<%= form_tag change_password_url, id: "change_password" do %>
  <%= hidden_field_tag "t", params[:t] %>
  <p><label><span>New password: </span><%= password_field_tag "password" %></label></p>
  <p><label><span>Repeat password: </span><%= password_field_tag "password_confirmation" %></label></p>
  <p><%= submit_tag "Change password!" %></p>
<% end %>
