<h3>Change password</h3>

<p style='color:red'><%= flash[:notice] %></p>

<% if @user %>
<p>Please choose a new password.</p>


<% form_tag do %>
<%= hidden_field_tag 'token', params[:token] %>
  <p><label><span>New password: </span><%= password_field_tag 'password' %></label></p>
  <p><label><span>Repeat password: </span><%= password_field_tag 'password2' %></label></p>
  <p><%= submit_tag 'Do it!' %></p>

<% end %>

<% end %>
